// Common
// html {
//   font-size: 62.5% !important;
// }

.main-content {
  font-family: Segoe UI, Meiryo, Arial, Verdana, Tahoma, sans-serif;
  background: $color-bg;
  color: $color-base;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  // font-size: 1.6rem !important;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings : "pkna";
  letter-spacing: .02em;

  * {
    line-height: 1.5;
    box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: $color-link;
  outline: none;

  &:active, &:visited, &:focus {
    text-decoration: none;
  }
}

ul, li, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

img {
  outline: none;
}

// -----------
// Smartphone
// -----------
#spFlg {
  display: none;

  @media #{$mq-sm} {
    display: block;
  }
}

.show-sp {

  @media #{$mq-pc} {
    display: none !important;
  }
}

.hide-sp {

  @media #{$mq-sm} {
    display: none !important;
  }
}
