#azureHead {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  z-index:100;
}
#titleArea {
  padding:0px 0px 1px 0px;
  text-align:left;
  background-color:#000;
}
#titleArea div.titleWrap {
  width:100%;
  max-width:994px;
  margin:0 auto;
  color:#FFF;
}
#titleArea div.titleWrap:after {
  clear:both;
  content:'';
  display:block;
}
#titleArea div.titleWrap .titleText {
  float:left;
}
#titleArea div.titleWrap .titleText h1 {
  margin:28px 0px 0px 0px;
  padding:0px;
  @include fz(36);
  font-weight:bold;
  color:#0078d7;

  @media #{$mq-sm} {
    @include fz(31);
  }
}
#titleArea div.titleWrap .titleBtn {
  margin:10px 0px;
  padding:0px;
  width:500px;
  float:right;
  text-align:center;
}
#titleArea div.titleWrap .titleBtn .btnMessage {
  margin:0px 0px 8px 0px;
  @include fz(20);
  color:#FF6;

  @media #{$mq-sm} {
    @include fz(14);
  }
}
#titleArea div.titleWrap .titleBtn .btnBegin {
  margin:0px auto;
  padding:5px 100px;
  width:300px;
  color:#FFF;
  background-color:#7fba00;
  font-weight:bold;
  @include fz(26);

  @media #{$mq-sm} {
    @include fz(23);
  }
}
#headMenu {
  background-color:#0078d7;
}
#headMenu div.titleWrap {
  width:100%;
  max-width:994px;
  margin:0 auto;
}
#headMenu div.titleWrap ul {
  @include cf;
  padding:15px 0px;
  display:block;
  min-height:20px;
}
#headMenu div.titleWrap ul li {
  padding:0px 25px 0px 0px;
  display:block;
  list-style-type:none;
  float:left;
  text-align:left;
  @include fz(15);

  @media #{$mq-sm} {
    float: none;
    display: inline-block;
  }
}
#headMenu div.titleWrap ul li.w150 {
  width:150px;
}
#headMenu div.titleWrap ul li a {
  text-decoration:none;
  color:#FFF;
  font-weight:bold;
}

@media #{$mq-sm} {
  #headMenu {
    display: block;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  #headMenu ul {
    white-space: nowrap;
  }
  #headMenu div.titleWrap {
    margin-bottom: 0;
  }
  #headMenu div.titleWrap ul li a {
    display: block;
  	// background-color: #363636;
  	// color: #fff;
  	// border-top: 0.04em solid #fff;
  	// padding: 2% 4%;
  }
}

#azureFoot {
  background-color:#000;
  color:#FFF;
  @include cf;
}
#azureFoot .azureFootWrapper {
  width:100%;
  max-width:994px;
  padding:10px 0px;
  margin:0px auto;

  @media #{$mq-sm} {
    padding: 10px;
  }
}
#azureFoot .azureFootWrapper:after {
  clear:both;
  content:'';
  display:block;
}
#azureFoot .azureFootLeft {
  width:20%;
  float:left;
  text-align:left;
}
#azureFoot .azureFootLeft img {
  float:left;
}
#azureFoot .azureFootLeft p {
  float:left;
  margin:3px 0px 0px 5px;
  @include fz(13);
}
#azureFoot .azureFootRight {
  width:80%;
  float:right;
  text-align:right;
}
#azureFoot .azureFootRight ul {
  margin:0px;
  padding:0px;
  float:right;
}
#azureFoot .azureFootRight ul li {
  margin:0px 0px 0px 10px;
  padding:0px;
  display:block;
  float:left;
  list-style-type:none;
  @include fz(13);
}
#azureFoot .azureFootRight ul li a {
  color:#979797;
  text-decoration:none;
}

@media (max-width: 1010px) {
	#heroArea, #casestudy {
    width:auto !important;
  }
	#headMenu div.titleWrap ul li {
    width:auto;
    text-align:center;
  }
	#casestudy .heroSlideShow .heroSlideShowInfo {
    width:calc(100% - 255px);
  }

	.heroWrapper {
    width:680px;
  }
	#titleArea div.titleWrap .titleText {
    margin:0px 0px 0px 10px;
  }
	#titleArea div.titleWrap .titleText h1 {
    margin:6px 0px 0px 0px;
  }
	#titleArea div.titleWrap .titleText p {
    font-size:90%;
  }
	#titleArea div.titleWrap .titleBtn {
    margin:5px 0px 3px 0px;
    width:330px;
  }
	#titleArea div.titleWrap .titleBtn .btnBegin {
    padding:5px 60px;
    width:auto;
  }
	#casestudy h2, #article h2, #stackoverflow h2 {
    margin:15px 0px 5px 0px;
    text-align:center;
  }
}
@media (max-width: 800px) {
	#trial ul.trialBtn li .btnMessage .btnMessageBr1 {
    display:block;
  }
}
@media only screen and (max-width:768px) and (min-width:481px) {
	#contentsArea {
    padding:0 0 40px 0 !important;
  }
}
@media (max-width: 745px) {
	#headMenu div.titleWrap ul {
    padding:6px 0px 10px 0px;
  }

	#titleArea {
    padding:1px 0px 5px 0px;
  }
	#titleArea div.titleWrap {
    margin:0 auto 15px auto;
  }
	#titleArea div.titleWrap .titleText {
    margin:0px;
    text-align:center;
    float:none;
  }
	#titleArea div.titleWrap .titleText:after {
    content:'';
    display:block;
    clear:both;
  }
	#titleArea div.titleWrap .titleText h1 {
  }
	#titleArea div.titleWrap .titleText p {
    width:auto;
  }
	#titleArea div.titleWrap .titleText p span, #titleArea div.titleWrap .titleBtn .btnMessage span {
    display:inline;
  }
	#titleArea div.titleWrap .titleBtn {
    margin:6px 0px 0px 0px;
    width:auto;
    float:none;
    text-align:center;
    clear:both;
  }
}
@media (max-width: 540px) {
	#heroArea, #casestudy {
    width:100% !important;
    height:360px !important;
  }
}
@media (max-width: 481px) {
	div#mainContents div#heroArea img {
    height:100% !important;
  }
	#heroArea, #casestudy {
    height:370px !important;
  }
	#casestudy .heroSlideShow {
    height:280px;
  }
	#casestudy .heroSlideShow .heroSlideShowInfo .heroSlideShowDesc {
    font-size:110%;
  }
	#titleArea div.titleWrap .titleText p {
    width:275px;
    margin:0 auto;
  }
	#mainContents div#heroArea img {
    height:auto;
  }
	#contentsArea {
    padding:0 0 40px 0 !important;
  }
	#heroArea, #articleArea, #stackoverflow {
    padding:30px 0px !important;
  }
	#headMenu div.titleWrap {
    // max-width:250px;
  }
	#headMenu div.titleWrap ul {
    padding:5px 1em;
    // min-height:60px;
  }
	#headMenu div.titleWrap ul li {
    padding:5px 0px;

    &:not(:first-child) {
      margin-left: 1.5em;
    }
  }
}
@media (max-width: 341px) {
	#heroArea, #casestudy {
    height:270px;
  }
}
