<% var
pageTitle = "Azure をビジネスとして取り組むパートナー様へ ｜Azure Mentor Program";
pageId = "index";
pageUrl = "";
pageDescription = "Microsoft Azure をビジネスとして取り組むパートナー様向けに、Azure 技術支援、案件支援を行います。";
pageKeywords = "";
isDevelopment = true;
isChildPage = false;
%><% include _header %>
<div class="main-content" role="main">
  <section class="l-section catch">
    <div class="l-section__inner catch__inner is-s">
      <h2 class="catch__title">
        <span class="en">Microsoft Azure</span> を<br class="show-sp">ビジネスとして<br class="show-sp">取り組みませんか？<br>
        ビジネスプランからテクニカルサポートまで、<br class="hide-sp">
        マイクロソフトが強力にバックアップし、<br class="hide-sp">
        御社のビジネスをご支援します。
      </h2>
      <p class="catch__desc">
        中堅中小企業をターゲットに、Microsoft Azure をこれから新規でビジネスとして取り組む意向のあるパートナー様、<br class="hide-sp">すでに展開されていて、本格的に取り組んでいく意向のあるパートナー様向けに、Azure 技術支援、案件支援を行います。
      </p>
      <a href="#entry" class="button hide-sp">パートナー申し込み</a>
    </div>
  </section>
  <section class="l-section sales">
    <div class="l-section__inner sales__inner">
      <h3 class="sales__headline headline">Azure で始める<br class="show-sp">クラウドビジネスで<br>御社のビジネスの拡張機会を<br class="show-sp">強力に支援</h3>      <div class="sales-graph">        <h4 class="sales-graph__title">          国内パブリッククラウドサービス市場 売上額          <span class="sub">2016 - 2021 Revenue (Billion Yen)</span>        </h4>        <img src="assets/images/graph_pc.png" class="sales-graph__image hide-sp" alt="">        <img src="assets/images/graph_sp.png" class="sales-graph__image show-sp" width="345" alt="">        <p class="sales-graph__desc">          国内パブリッククラウドサービス市場は今後も高い成長を継続し、<br class="hide-sp">          2016 年～ 2021 年の年間平均成長率（CAGR: Compound Annual Growth Rate）は 22.9 ％で推移し、<br class="hide-sp">          2021 年の市場規模は 1 兆 538 億円になるとIDC は予測        </p>        <p class="sales-graph__note">          出典: IDC Japan「国内パブリッククラウドサービス市場予測、2017 年～ 2021 年」, Feb 2017 (JPJ41768117)        </p>      </div>      <a href="#entry" class="button">パートナー申し込み</a>    </div>  </section>
  <section class="l-section program">
    <div class="l-section__inner program__inner">
      <h3 class="program__headline headline">
        <span class="en">Azure</span> ビジネス推進のための<br class="show-sp">
        支援プログラム<br>
        <span class="en">Azure Mentor Program</span> とは？
      </h3>
      <p class="program__desc desc">中堅中小企業をターゲットに、Microsoft Azure をこれから新規でビジネスとして取り組む意向のあるパートナー様、すでに展開されていて、本格的に取り組んでいく意向のあるパートナー様に、Microsoft 社が Azure の導入技術支援、案件支援を 5 社受注するまで実施いたします。</p>
      <div class="program__contents program-contents">
        <h4 class="program-contents__title"><span class="en">Azure Mentor Program (AMP)</span> 提供内容</h4>
        <p class="program-contents__desc">提供内容は今後変更になる可能性がありますので、<br class="show-sp">あらかじめご了承願います。</p>
        <div class="program-contents__type program-type">
          <div class="program-type__item program-list">
            <h5 class="program-list__title">プログラム電話窓口の設置</h5>
            <ul class="program-list__contents content-list">
              <li class="content-list__item">ビジネスプランへのアドバイス</li>
              <li class="content-list__item">Azure 提案の価値シナリオの紹介</li>
              <li class="content-list__item">最適なトレーニングのご紹介</li>
            </ul>
          </div>
          <div class="program-type__item program-list">
            <h5 class="program-list__title">技術電話窓口の設置</h5>
            <ul class="program-list__contents content-list">
              <li class="content-list__item">提案シナリオのご相談</li>
              <li class="content-list__item">製品、サービスの機能確認 </li>
              <li class="content-list__item">ソリューションの構成確認</li>
              <li class="content-list__item">製品ライセンスの考え方に関するご相談 </li>
              <li class="content-list__item">製品、サービスの展開に関するご相談</li>
              <li class="content-list__item">移行、アップグレードに関するご相談</li>
              <li class="content-list__item">機能拡張や追加購入が見込めるご相談</li>
            </ul>
          </div>
        </div>
        <p class="program-contents__note">テクニカルコンサルタントが、プリセールス、デプロイ フェーズで、技術支援を提供</p>
      </div>
      <a href="#entry" class="button">パートナー申し込み</a>
    </div>
  </section>
  <section class="l-section merit" id="merit">
    <div class="l-section__inner merit__inner is-s">
      <h3 class="merit__headline headline">
        <span class="en">Amazon</span> と比較して、<br class="show-sp"> <span class="en">Microsoft</span> と<br class="show-sp">パートナーシップを組むメリット
      </h3>
      <div class="merit__contents">
        <ul class="merit-list">
          <li class="merit-list__item merit-item">
            <h4 class="merit-item__title">
              収益性の向上
            </h4>
            <p class="merit-item__body">Azure は AWS と違って、仕入れ再販売のプロセスでマージンを確保することが可能です。また、保守・運用など御社のソリューションを組み合わせて、さらに付加価値を付けて販売することで、より高い収益性をもたらします。</p>
          </li>
          <li class="merit-list__item merit-item">
            <h4 class="merit-item__title">
              日本のお客様に安心してご提案できるプラットフォーム
            </h4>
            <p class="merit-item__body">請求書払いや日本円での支払いが可能なため、為替の影響を受けません。<br>また国内の東西でデータセンターが稼働しているので、データを海外に出すことなく日本で BCP 対策を実現できます。</p>
          </li>
          <li class="merit-list__item merit-item">
            <h4 class="merit-item__title">
              充実した PaaS 機能
            </h4>
            <p class="merit-item__body">人工知能や監視サービスなど、サービス開発をしていくうえで必要な機能が充実しています。お客様の環境やクラウドの使い方に幅広く対応可能です。</p>
          </li>
          <li class="merit-list__item merit-item">
            <h4 class="merit-item__title">
              世界基準のセキュリティ
            </h4>
            <p class="merit-item__body">Azure はセキュリティゴールドマークを取得し、第三者認証も多数受けている世界基準のセキュリティを満たしています。お客様データ・プライバシーの保護を徹底することが可能です。</p>
          </li>
        </ul>
      </div>
      <a href="#entry" class="button">パートナー申し込み</a>
    </div>
  </section>
  <section class="l-section interview" id="interview">
    <div class="l-section__inner interview__inner is-s">
      <h3 class="interview__headline headline is-center">
        <span class="en">Azure Mentor Program(AMP)</span> <br class="show-sp">導入会社紹介
      </h3>
      <div class="interview__list interview-list">
        <article class="interview-list__item interview-item">
          <h4 class="interview-item__title">株式会社ニューロテックシステム様</h4>
          <div class="interview-item__contents">
            <div class="interview-photo">
              <img src="assets/images/interview_list_neurotec.jpg" alt="" class="image">
            </div>
            <div class="interview-outline">
              <h5 class="interview-outline__headline">
                Azure に付加価値を与えた自社ソリューションビジネス拡大の<br class="hide-sp">
                可能性から、Azure Mentor Program(AMP) に参加<br class="hide-sp">
                ― AMP のサポートで Azure ビジネスが可能に
              </h5>
              <p class="interview-outline__body">
                東京・大阪に拠点を置きシステム開発をメインにシステム構築やサーバー導入、ソリューション提供、データーセンター事業まで様々なサービスを手掛けていらっしゃる株式会社ニューロテックシステム様は AMP に参加されてから、早くも 2 社の Azure 導入実績を作られました。AMP のサポートを活用し、企業様のオンプレミスから Azure への移行のビジネスを展開されています。<br>
                どのようなきっかけで AMP に入られ活用されているのか、AMP のメリットは何かなど、Web ソリューション部の荒川 隆行様に詳しくお話を伺いました。
              </p>
              <a href="./neurotec/" class="interview-outline__more">続きを見る</a>
            </div>
          </div>
        </article>
        <article class="interview-list__item interview-item">
          <h4 class="interview-item__title">株式会社アスカクリエイト様</h4>
          <div class="interview-item__contents">
            <div class="interview-photo">
              <img src="assets/images/interview_list_asuka.jpg" alt="" class="image">
            </div>
            <div class="interview-outline">
              <h5 class="interview-outline__headline">
                災害対策のニーズから Azure ビジネスの本格運用へ<br class="hide-sp">
                ― AMP のサポートで Azure ビジネスの基礎を早期に底上げする
              </h5>
              <p class="interview-outline__body">
                東京都渋谷区で、エンドユーザー様のニーズに合わせてカスタマイズした業務システムの受託開発をメインに、中小企業向け保守サービスを提供されている株式会社アスカクリエイト様。東日本大震災後におけるサーバーに関する災害対策のニーズの高まりから、Azure ビジネスに注目されています。システム構築においては既に高いスキル持ちながら、AMP に参加され、Azure ビジネス運用の知識を早期に学び、本格運用に向けて稼働されています。今回は、AMP のメリットや今後の Azure ビジネスの可能性について、システム部の原 敦文様にお話を伺いました。
              </p>
              <a href="./asuka/" class="interview-outline__more">続きを見る</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="l-section entry" id="entry">
    <div class="l-section__inner entry__inner">
      <h3 class="entry__headline headline"><span class="en">Azure Mentor Program (AMP)</span> 新規パートナー募集中</h3>
      <h3 class="entry__desc desc">Microsoft Azure をこれから新規でビジネスとして取り組む意向のあるパートナー様、すでに展開されていて、本格的に取り組んでいく意向のあるパートナー様に、Microsoft 社がAzure 技術支援、案件支援を 5 社受注するまで実施いたします。</h3>
      <p class="entry__note">※ご支援はお電話での対応です。</p>
      <div class="entry__contents entry-contents">
        <div class="entry-contents__item entry-item">
          <h4 class="entry-item__title">当プログラムが対象とする Azure の機能</h4>
          <ul class="entry-item__list entry-list">
            <li class="entry-list__item">Azure Backup/ Azure Site Recovery</li>
            <li class="entry-list__item">Azure Virtual Machines</li>
            <li class="entry-list__item">Enterprise Mobility Suite (EMS) など</li>
          </ul>
        </div>
        <div class="entry-contents__item entry-item">
          <h4 class="entry-item__title">期間</h4>
          <p class="entry-item__body entry-body">参加申込みから 6 ヶ月（ただし、期間内でも 5 社受注した時点でプログラム終了となります。）</p>
        </div>
        <div class="entry-contents__item entry-item">
          <h4 class="entry-item__title">参加条件</h4>
          <ol class="entry-item__list entry-list is-ordered">
            <li class="entry-list__item">マイクロソフトパートナーネットワークへの登録（登録は無料です）</li>
            <li class="entry-list__item">AMP における担当窓口の設置</li>
            <li class="entry-list__item">
              参加申込み書のご提出
              <span class="notice">※提案中または今後提案予定のお客様（ターゲット顧客）を 3 社以上の記載が必須となります。商談金額は予定（暫定）で構いません。<br>（<a href="http://download.microsoft.com/download/5/2/C/52C232B3-0AD2-454B-B14E-B5564CDA131B/AMP_application form _Apr17.xlsx" target="_blank">申し込み用紙はこちら</a>）</span>
            </li>
            <li class="entry-list__item">マイクロソフト アクション パックのご購入（すでにお持ちの場合、コンピテンシーをお持ちの場合は不要です）</li>
            <li class="entry-list__item">半年以内に 5 件の Azure 案件の受注のために積極的にビジネスを展開いただくこと。</li>
            <li class="entry-list__item">
              Microsoft Azure をクラウド流通会社から Azure を仕入れて、顧客に再販売する形態をとれること。<br>
              （マイクロソフトからクラウド流通会社のご紹介は可能です）
              <span class="notice">
                ※クラウドプラットフォームのコンピテンシーをお持ちのパートナー様はご参加の対象外とさせていただきます。<br>
                ※マイクロソフトの担当営業がいるパートナー様はご参加の対象外です。<br>
                ※大企業だけをターゲット顧客とする場合は、参加の対象外とさせていただきます。<br>
                ※過去にAMP にご参加いただいたパートナー様は対象外とさせていただきます。
              </span>
            </li>
          </ol>
        </div>
        <div class="entry-contents__item entry-item">
          <h4 class="entry-item__title">申し込み方法</h4>
          <ol class="entry-item__list entry-list is-ordered">
            <li class="entry-list__item">
              申し込み書を記入<br>
              申し込み書（xls.）は以下よりダウンロードください。<br>
              <a href="http://download.microsoft.com/download/5/2/C/52C232B3-0AD2-454B-B14E-B5564CDA131B/AMP_application form _Apr17.xlsx" target="_blank" class="button">申し込み書はこちら</a>
            </li>
            <li class="entry-list__item">
              申し込み書を事務局宛に送付<br>
              お申し込み書の送信には、情報保護のため、暗号化してメールに添付してお送りください（パスワードは別送ください）<br>
              <a href="mailto:contcamjp@microsoft.com" class="button is-second">AMP 事務局： contcamjp@microsoft.com</a>
              <span class="notice">事務局での審査により、AMPの参加をお断わりする場合がありますのでご了承のほどお願いします。</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</div>
<% include _footer %>
