<% var
pageTitle = "Azure ビジネスの本格運用へ ｜AMP 導入事例";
pageId = "interview";
pageUrl = "interview_asuka.html";
pageDescription = "Microsoft Azure が提供する技術支援プログラム「Azure Mentor Program (AMP)」へ参加した企業の導入事例紹介―  AMP のサポートで Azure ビジネスの基礎を早期に底上げする";
pageKeywords = "";
isDevelopment = true;
isChildPage = true;
%><% include ../_header %>
<div class="main-content" role="main">
  <section class="interview-article">
    <div class="interview-article__header article-header">
      <h4 class="article-header__title">Azure Mentor Program(AMP) <br class="show-sp">導入会社紹介</h4>
      <h3 class="article-header__name">株式会社アスカクリエイト様</h3>
      <p class="article-header__desc">災害対策のニーズから Azure ビジネスの本格運用へ<br class="hide-sp">― AMP のサポートで Azure ビジネスの基礎を早期に底上げする</p>
    </div>
    <div class="interview-article__contents article-contents">
      <div class="l-section article-contents__section article-section is-desc">
        <div class="l-section__inner">
          <p class="article-section__desc">
            東京都渋谷区で、エンドユーザー様のニーズに合わせてカスタマイズした業務システムの受託開発をメインに、中小企業向け保守サービスを提供されている株式会社アスカクリエイト様。東日本大震災後におけるサーバーに関する災害対策のニーズの高まりから、Azure ビジネスに注目されています。システム構築においては既に高いスキル持ちながら、AMP に参加され、Azure ビジネス運用の知識を早期に学び、本格運用に向けて稼働されています。今回は、AMP のメリットや今後の Azure ビジネスの可能性について、システム部の原 敦文様にお話を伺いました。
          </p>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">自社内でのサーバー設置に不安。災害対策の要望から <span class="en">Azure</span> を検討</h5>
          <div class="article-section__contents is-reverse">
            <div class="article-photo">
              <img src="../assets/images/interview_photo_asuka_01_pc.jpg" class="hide-sp" alt="">
              <img src="../assets/images/interview_photo_asuka_01_sp.jpg" class="show-sp" alt="">
            </div>
            <div class="article-body">
              <h5 class="article-headline headline show-sp">自社内でのサーバー設置に不安。<br>災害対策の要望から <span class="en">Azure</span> を検討</h5>
              <p>東日本大震災以降、自社内でのサーバー設置・運用を避けようとするニーズが高まり、「データセンターに置きたいけれど、資力がないので他によい案はないか」とお客様からの問い合わせも増えてきていました。Azure については以前から気になっていましたが、ここ 1 ～ 2 年で使い勝手が急激によくなりました。機能も充実してきたことから弊社でも導入を検討していたところ、マイクロソフトのセミナーで AMP のことを知りました。</p>
              <p>Azure 環境の構築や運用ノウハウ等の基礎知識の習得には時間がかかるので、AMP でプロの指導を受け、早期に知識の底上げをしたいと考えました。AMP では、多様な Azure に関する疑問を 1 つの窓口で解消できます。Azure のサービスは日々拡張していて、新しい情報にドキュメント類が追いついていない中で、どのサービスがどこまで使えるようになっているのかを教えてもらえます。疑問点があれば AMP の担当者にまずメールで確認し、解決できない時は電話をするのですが、担当者がある程度固定化されているので、何度も同じことを話さなくて済むので助かります。技術文書を読めば私たちも理解できますが、あくまで自己流の解釈なので、最終的にマイクロソフト公式の回答がもらえるも安心ですね。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">「クラウド」の浸透でコンセンサスが取れるように</h5>
          <div class="article-section__contents">
            <div class="article-body">
              <h5 class="article-headline headline show-sp">「クラウド」の浸透で<br>コンセンサスが取れるように</h5>
              <p>以前は多くのお客様は外部にデータを置くことに拒否反応を示していましたが、「クラウド」という言葉の浸透で、だいぶ受け入れられるようになりました。「有名どころのパッケージさんも使っていますよ」と話すとお客様も安心し、コンセンサスが取れるようになりましたね。「Azure に興味があるが、どういうものか分からない」といったお客様の不安をいかに払拭できるかがポイントで、まず、Azure は安全であることを伝え、複雑な技術文書も、お客様が必要な部分のみを切り出してかみ砕いてご説明しています。</p>
              <p>お客様からのお問い合わせに多い大規模災害時のディザスタリカバリ等についての情報もマイクロソフトではまとめられていているので助かります。データを置いた場所がつぶれることに不安を感じているお客様も多い中、東日本、西日本両方にデータセンターを持っているのはマイクロソフトの Azure だけですから安心感がありますね。<br>また、企業としての信頼性の観点では、マイクロソフトのネームバリューは非常に強いと実感しています。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">顧客の環境をすべて <span class="en">Azure</span> に移行したい</h5>
          <div class="article-section__contents">
            <div class="article-photo">
              <img src="../assets/images/interview_photo_asuka_02_pc.jpg" class="hide-sp" alt="">
              <img src="../assets/images/interview_photo_asuka_02_sp.jpg" class="show-sp" alt="">
            </div>
            <div class="article-body">
              <h5 class="article-headline headline show-sp">顧客の環境を<br>すべて <span class="en">Azure</span> に移行したい</h5>
              <p>お客様の環境をすべて Azure に移行しようとすると、導入するサーバーやサービスが結構な数になります。不明点や疑問も開発フェーズごとに新たに出てくるのですが AMP では最後まで対応してもらえてありがたいですね。AMP に入らなければ Azure ビジネスの本番稼働までもっと時間がかかっていたと思います。</p>
              <p>Azure は月額の費用が明確でわかりやすいですし、今後のサービスの見通しを公開していることが強みですね。他社サービスのように料金が突然上がったり、急にサービス終了になったりすると困ります。システムを構築する弊社のような企業と安心して活用できる Azure が合わさってこそ、エンドユーザーに安心を提供できるのだと思います。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">オンプレミスの仮想化から <span class="en">Azure</span> へ</h5>
          <div class="article-section__contents">
            <div class="article-body">
              <h5 class="article-headline headline show-sp">オンプレミスの仮想化から<br><span class="en">Azure</span> へ</h5>
              <p>サーバーの仮想化まで踏み込めるお客様であれば、クラウドへの移行はしやすい傾向があります。そこでまず、弊社では最初はオンプレミスで仮想化を提案し、問題なければ次回のリプレイス時にクラウドへ移行という流れを作るパターンが多いです。自社でデータを管理したい企業は Azure に向いていないかもしれませんが、小規模な支店をたくさん持っているお客様やスタートアップ企業に Azure は向いているので、いろいろとアプローチをかけています。</p>
              <p>AMP を活用して取得した案件に生鮮食品卸業者様がいます。B to B のスマホ向け Web アプリの受注システムなのですが、完全に Azure を活用しての運用です。飲食系は夜間注文が多いため、夜間のシステム負荷のピーク対応が課題となり、最適な提案のために AMP のサポートをフルに活用しました。今後はもっと新規のお客様を取り込んでいきたいですし、それが私たちの技術力の証明にもなると考えています。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">価格競争に陥りにくい、保守サービスにも注力</h5>
          <div class="article-section__contents is-reverse">
            <div class="article-photo">
              <img src="../assets/images/interview_photo_asuka_03_pc.jpg" class="hide-sp" alt="">
              <img src="../assets/images/interview_photo_asuka_03_sp.jpg" class="show-sp" alt="">
            </div>
            <div class="article-body">
              <h5 class="article-headline headline show-sp">価格競争に陥りにくい、<br>保守サービスにも注力</h5>
              <p>パッケージでは実現できない、カスタマイズ型の受託開発システムは弊社の強みなので、それを核としながら、Azure を活用し同業他社と連携するようなビジネスを考え、特に付加価値として保守サービスに注力していきたいです。保守サービスは価格競争に陥りにくい点がメリットですね。大手の SIer から保守を乗り換えてもらうことも期待しています。また Azure だとハードウェア保守がなく、すべてリモートで対応できるのでサポートコストが減らせます。これにより収益構造を改善し安定した定期収入化を見込んでいます。<br>今後はスタートアップ企業など、ハードウェア購入のための多額なリース契約が困難な会社へのアプローチなどを展開していきたいです。</p>
              <p>AMP の認知度はどんどん上がって欲しいです。AMP は多くの方が想像しているより敷居は高くありませんから、まずは始めてみたらいかがでしょうか？</p>
            </div>
          </div>
          <a href="../#entry" class="article-entry button">パートナー申し込み</a>
        </div>
      </div>
    </div>
  </section>
</div>
<% include ../_footer %>
