<% var
pageTitle = "Azure を活用して自社サービスを拡大 ｜AMP 導入事例";
pageId = "interview";
pageUrl = "interview_neurotec.html";
pageDescription = "Microsoft Azure が提供する技術支援プログラム「Azure Mentor Program (AMP)」へ参加した企業の導入事例紹介― AMP のサポートで Azure ビジネスが可能に";
pageKeywords = "";
isDevelopment = true;
isChildPage = true;
%><% include ../_header %>
<div class="main-content" role="main">
  <section class="interview-article">
    <div class="interview-article__header article-header">
      <h4 class="article-header__title">Azure Mentor Program(AMP) <br class="show-sp">導入会社紹介</h4>
      <h3 class="article-header__name">株式会社ニューロテックシステム様</h3>
      <p class="article-header__desc">Azure に付加価値を与えた自社ソリューションビジネス拡大の可能性から、<br class="hide-sp">Azure Mentor Program(AMP) に参加<br class="hide-sp">― AMP のサポートで Azure ビジネスが可能に</p>
    </div>
    <div class="interview-article__contents article-contents">
      <div class="l-section article-contents__section article-section is-desc">
        <div class="l-section__inner">
          <p class="article-section__desc">
            東京・大阪に拠点を置きシステム開発をメインにシステム構築やサーバー導入、ソリューション提供、データーセンター事業まで様々なサービスを手掛けていらっしゃる株式会社ニューロテックシステム様は AMP に参加されてから、早くも 2 社の Azure 導入実績を作られました。AMP のサポートを活用し、企業様のオンプレミスから Azure への移行のビジネスを展開されています。<br>
            どのようなきっかけで AMP に入られ活用されているのか、AMP のメリットは何かなど、Web ソリューション部の荒川 隆行様に詳しくお話を伺いました。
          </p>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">新しい収益源として <span class="en">Azure</span> ビジネスを検討</h5>
          <div class="article-section__contents is-reverse">
            <div class="article-photo">
              <img src="../assets/images/interview_photo_neurotec_01_pc.jpg" class="hide-sp" alt="">
              <img src="../assets/images/interview_photo_neurotec_01_sp.jpg" class="show-sp" alt="">
            </div>
            <div class="article-body">
              <h5 class="article-headline headline show-sp">新しい収益源として <br><span class="en">Azure</span> ビジネスを検討</h5>
              <p>株式会社ニューロテックシステムでは、システム開発をメインに、ネットワーク環境、WEB サーバー導入から運用支援、アプリケーションの設計・開発～運用保守サポートなど幅広いシステムソリューション事業を展開しています。データーセンター事業を始めましたが、5 年も経てばハードウェアは老朽化し入れ替えの時期がやってきます。その対策の一つとしてパブリッククラウドには注目していました。そんなときマイクロソフトから Azure のお誘いがあったのです。事業そのものが被りますし Azure でのビジネスはどういった所で弊社にメリットがあるのかが疑問でした。そのことを率直にマイクロソフトに伝えたところ、Azure に弊社のサービスを乗せて再販する方法があると教えていただき、話が進んで AMP に参加することになったのです。データーセンター事業はお客様が集まらないと立ち行かなくなりますが、今後の展開を考えると Azure ビジネスが使えるという考えに至りました。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp"><span class="en">AMP</span> の手厚いサポートを活用</h5>
          <div class="article-section__contents">
            <div class="article-body">
              <h5 class="article-headline headline show-sp"><span class="en">AMP</span> の手厚いサポートを活用</h5>
              <p>AMP に入ることで、いろいろな質問をマイクロソフトへ直接することができますし、案件ドライブのためのサポートや提案も受けられます。以前、Azure についてどうしても分からないことがあり、時間がない中 AMP の担当者に相談したところ、マイクロソフトのエンジニアの方も含め、関係者全員でスカイプ会議を開催していただき、敏速に無事解決したことがありました。マイクロソフトが私どものような中小企業にそこまでやってくれるなんて本当に驚きましたね。</p>
              <p>初めてのクラウドや Azure に、私自身、技術の担当責任者として非常に不安がありました。システム構成もどう作ったらいいか分からないし、見積もりツールを使っても、果たしてできたものが正しいのかさえ分からないのです。オンプレミスをイメージした我流で構成を作り、マイクロソフトの方に見ていただいたところ、間違いを指摘してもらい、適切なアドバイスもいただけました。</p>
              <p>サポートが手厚いので、特に Azure が初めてというベンダーさんには AMP はおすすめです。些細な疑問でも自分で解決しようとすると、すぐに時間がたってしまいますが、メールで質問を投げられ、理解するまで対応してもらえるので非常に助かっています。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp">販売実績は <span class="en">2</span> 社。<br>個人情報を扱う企業のシステム構築で Azure の安全性もアピール</h5>
          <div class="article-section__contents">
            <div class="article-photo">
              <img src="../assets/images/interview_photo_neurotec_02_pc.jpg" class="hide-sp" alt="">
              <img src="../assets/images/interview_photo_neurotec_02_sp.jpg" class="show-sp" alt="">
            </div>
            <div class="article-body">
              <h5 class="article-headline headline show-sp">販売実績は <span class="en">2</span> 社。<br>個人情報を扱う<br>企業のシステム構築で <br class="show-sp">Azure の安全性もアピール</h5>
              <p>AMP に参加してから、現在まで実績として 2 社契約できました。やはり、契約に至ったポイントの一つとしてマイクロソフトのネームバリューは大きいと思います。お客様に「Azure はマイクロソフト」だと話すと反応が違うのを感じました。弊社はベンダーですから、何かトラブルがあったときのことをまず考えるのですが、そういったときもサポート体制が優れているマイクロソフトが強いです。大切なのは構築した先でお客様の要望にどれだけ応えていけるかだと思っていますし、それには体制も含めて Azure が適していると判断しました。</p>
              <p>セキュリティについても、お客様の閉域ネットワークとの接続が可能なので問題ないと提案しています。どのお客様も個人情報やセキュリティを重視されますが、いま決まっている大手旅行会社様のインフラに Azure の安全性もアピールできると考えています。</p>
              <p>また、Azure はシステム構築の速さも優れています。オンプレミスで Windows Server をインストールした場合、丸 1 日かかりますが、Azure では 1 〜 2 時間で IIS が動くところまでいけます。例えばお客さんと打合せしていて、「こんなサイトが欲しい」と言われれば、Azure でゼロからその場でサイトを作って、うまくいけばサイトを見せられるくらいのスピード力はあると思います。Linux などの OSS 系もカバーしているので提案範囲も広がります。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp"><span class="en">Azure</span> ができることは想像をはるかに超える</h5>
          <div class="article-section__contents">
            <div class="article-body">
              <h5 class="article-headline headline show-sp"><span class="en">Azure</span> ができることは想像をはるかに超える</h5>
              <p>実は Azure で出来ることは当初の想像をはるかに超えて素晴らしいものでした。これだけのサービスをお客様から求められた時にオンプレミスでの構築は難しいでしょう。<br>また、オンプレでは様々なものを初期段階で用意する必要がありますが、Azure では最初から付いています。お客様はシステムによるビジネスメリットを重視するので、お客様には、「こういう部分であれば Azure ならできますよ」などの付加価値の提案を含めておすすめできます。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="l-section article-contents__section article-section">
        <div class="l-section__inner">
          <h5 class="article-section__headline headline hide-sp"><span class="en">AMP</span> を活用した <span class="en">Azure</span> の実績を示してリードしていきたい</h5>
          <div class="article-section__contents is-reverse">
            <div class="article-photo">
              <img src="../assets/images/interview_photo_neurotec_03_pc.jpg" class="hide-sp" alt="">
              <img src="../assets/images/interview_photo_neurotec_03_sp.jpg" class="show-sp" alt="">
            </div>
            <div class="article-body">
              <h5 class="article-headline headline show-sp"><span class="en">AMP</span> を活用した <span class="en">Azure</span> の実績を示してリードしていきたい</h5>
              <p>オンプレでの開発は、別にいろいろなソフトウェアを購入するなどコストがかかりますが、Azure 上で開発することで、コスト削減や工数の効率化が図れます。弊社のお客様は運用を重視されていることが多いので、Azure の分析系サービスを含めて提案することもできますね。<br>また、商品のネット販売をされているお客様がいらっしゃるのですが、1 台のサーバー上だけで全てのサービスを行っているため、今 Azure を提案しています。今後は、Azure に弊社の E コマースのノウハウを付加価値として組み合わせたソリューション提供にもチャレンジしていきたいです。</p>
              <p>Azure には、まだ気づいていない機能がたくさんあります。引き続きできることを模索しながらまだまだ多くいる既存のオンプレミスのお客様へ働きかけていくつもりです。新規のお客様に対してもクラウドの話があれば、AMP を活用して導入に至った Azure の実績を示してリードしていきたいと思っています。</p>
            </div>
          </div>
          <a href="../#entry" class="article-entry button">パートナー申し込み</a>
        </div>
      </div>
    </div>
  </section>
</div>
<% include ../_footer %>
