@mixin cf() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@mixin fz($sizeValue: 14) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

@mixin hover-opacity($opacity: .8) {
  transition: all $duration-transition ease;

  &:hover {
    opacity: $opacity;
    text-decoration: none;
  }
}

@mixin hover-opacity-img($opacity: .8) {

  img {
    transition: all $duration-transition ease;
  }

  &:hover {

    img {
      opacity: $opacity;
      text-decoration: none;
    }
  }
}

@mixin youtube-wrap() {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
