.main-content {

  @media #{$mq-sm} {
  }
}

.l-section {
  padding: 60px 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;

  @media #{$mq-sm} {
    padding: 27px 0;
    // height: auto;
    // min-height: 320px;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $content-width-pc;

    @media #{$mq-sm} {
    }

    &.is-s {
      max-width: $content-width-pc-s;
    }
  }
}

.catch {
  padding: 60px 0;
  background: url(../images/kv_pc.jpg) 50% 50%/cover no-repeat;
  color: #fff;

  @media #{$mq-sm} {
    padding: 0;
    background: none;
  }

  &__inner {

    @media #{$mq-sm} {
      padding: 0;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      padding: 20px 30px;
      background: url(../images/kv_sp.jpg) 50% 50%/cover no-repeat;
      font-size: 24px;
      min-height: 400px;
    }

    .en {
      font-size: 1.1em;
    }
  }

  &__desc {
    margin-top: 35px;
    font-size: 17px;
    letter-spacing: .01em;

    @media #{$mq-sm} {
      margin-top: 0;
      padding: 15px;
      font-size: 15px;
      background: $color-key;
      color: #fff;
    }
  }
}

.headline {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: .02em;
  text-align: center;

  @media #{$mq-sm} {
    font-size: 18px;
  }

  .en {
    font-size: 1.1em;
  }
}

.desc {
  margin-top: 20px;
  font-size: 16px;

  @media #{$mq-sm} {
    margin-top: 15px;
    font-size: 14px;
  }
}

.sales {

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media #{$mq-sm} {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__headline {
    margin-top: -.25em;

    @media #{$mq-sm} {
      text-align: left;
    }
  }

  .button {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.sales-graph {
  margin: 30px auto 0;
  width: 100%;
  max-width: 881px;
  text-align: center;

  @media #{$mq-sm} {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }

  &__title {
    font-size: 22px;
    letter-spacing: .06em;
    color: $color-key;
    font-weight: normal;

    @media #{$mq-sm} {
      font-size: 14px;
    }

    .sub {
      display: block;
      margin-top: .25em;
      font-size: 18px;

      @media #{$mq-sm} {
        font-size: 12px;
      }
    }
  }

  &__image {
    display: block;
    margin: 20px auto 0;

    @media #{$mq-sm} {
      margin-top: 15px;
      width: 100%;
      max-width: 345px;
    }
  }

  &__desc {
    margin-top: 1.5em;
    text-align: left;
    font-size: 16px;

    @media #{$mq-sm} {
      margin-top: 1em;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
    }
  }

  &__note {
    margin-top: .5em;
    text-align: left;
    font-size: 14px;

    @media #{$mq-sm} {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px;
    }
  }
}

.program {
  background: url(../images/bg_program.jpg) 50% 50%/cover no-repeat;

  @media #{$mq-sm} {
  }

  &__headline {
    margin-top: -.25em;

    @media #{$mq-sm} {
      padding: 0 15px;
      text-align: left;
    }

    @media #{$mq-xxs} {
      padding: 0;
    }
  }

  &__desc {
    font-size: 15px;

    @media #{$mq-sm} {
      padding: 0 15px;
    }

    @media #{$mq-xxs} {
      padding: 0;
    }
  }

  &__contents {
    margin: 40px auto 0;
    padding: 30px;
    background: #fff;

    @media #{$mq-sm} {
      margin-top: 20px;
      padding: 15px;
    }
  }

  .button {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.program-contents {

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: normal;

    @media #{$mq-sm} {
      font-size: 16px;
    }
  }

  &__desc {
    margin-top: .5em;
    text-align: center;
    font-size: 13px;

    @media #{$mq-sm} {
      padding-left: 15px;
      padding-right: 15px;
      text-align: left;
      font-size: 11px;
    }
  }

  &__type {

    @media #{$mq-sm} {

    }
  }

  &__note {
    margin-top: 2em;
    text-align: center;
    font-size: 14px;
    color: $color-key-d;
    font-weight: bold;

    @media #{$mq-sm} {
      text-align: left;
      margin-top: 1em;
      padding: 0 15px;
    }

    @media #{$mq-xxs} {
      padding: 0;
    }
  }
}

.program-type {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @media #{$mq-sm} {
    flex-direction: column;
    margin-top: 25px;
  }

  &__item {
    width: 384px;

    @media #{$mq-sm} {
      width: 100%;
    }

    &:not(:first-child) {
      margin-left: 40px;

      @media #{$mq-sm} {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}

.program-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 10px 40px;
  border: solid 2px $color-key;

  @media #{$mq-sm} {
    padding: 20px 15px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    min-width: 240px;
    height: 34px;
    border-radius: 17px;
    background: $color-key;
    font-size: 14px;
    color: #fff;
    letter-spacing: .12em;

    @media #{$mq-sm} {
      min-width: 0;
      padding: 0 20px;
      font-size: 13px;
    }

    @media #{$mq-xxs} {
      padding: 0 15px;
    }
  }

  &__contents {
    margin-top: 30px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.content-list {

  &__item {
    position: relative;
    padding: 0 16px;
    color: $color-key-d;
    font-size: 15px;
    font-weight: bold;

    @media #{$mq-sm} {
      font-size: 14px;
    }

    &:not(:first-child) {
      margin-top: 16px;

      @media #{$mq-sm} {
        margin-top: 1em;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      margin-top: -5px;
      width: 0;
      height: 0;
      border-top: solid 5px transparent;
      border-left: solid 7px $color-key-d;
      border-bottom: solid 5px transparent;
    }
  }
}

.merit {

  &__inner {

    @media #{$mq-sm} {
      padding: 0 30px;
    }
  }

  &__headline {
    margin-top: -.25em;

    @media #{$mq-sm} {
      text-align: left;
    }
  }

  &__list {

  }
}

.merit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto 0;

  @media #{$mq-sm} {
    margin-top: 0;
    width: 100%;
  }

  &__item {
    margin-top: 30px;
    width: 484px;

    @media #{$mq-sm} {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.merit-item {

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-key-d;
    font-size: 16px;

    @media #{$mq-sm} {
      height: auto;
    }
  }

  &__body {
    margin-top: .5em;
    font-size: 16px;
    color: #444;

    @media #{$mq-sm} {
      font-size: 14px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.interview {
  background: url(../images/bg_interview.jpg) 50% 50%/cover no-repeat;

  &__inner {

    @media #{$mq-sm} {
      padding: 0 30px;
    }
  }

  &__headline {
    margin-top: -.25em;
    color: #fff;

    @media #{$mq-sm} {
    }
  }

  &__list {
    margin: 10px auto 0;

    @media #{$mq-sm} {
      margin-top: 0;
      width: 100%;
    }
  }
}

.interview-list {

  &__item {
    margin-top: 30px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.interview-item {
  padding: 30px 40px;
  background: #fff;

  @media #{$mq-sm} {
    padding: 20px;
  }

  &__title {
    margin-top: -.25em;
    padding-bottom: 1em;
    color: $color-base;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .12em;

    @media #{$mq-sm} {
      font-size: 16px;
      letter-spacing: .06em;
    }
  }

  &__contents {
    display: flex;
    color: $color-key-d;
    font-size: 16px;

    @media #{$mq-sm} {
      display: block;
    }
  }
}

.interview-photo {
  width: 50%;
  padding-right: 20px;

  @media #{$mq-sm} {
    padding: 0;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
  }
}

.interview-outline {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;

  @media #{$mq-sm} {
    padding: 0;
    width: 100%;
  }

  &__headline {
    margin-top: -.25em;
    color: $color-key-d;
    font-size: 14px;

    @media #{$mq-sm} {
      margin-top: 1em;
    }
  }

  &__body {
    margin-top: 1.5em;
    line-height: 1.75;
    font-size: 12px;

    @media #{$mq-sm} {
      margin-top: .5em;
    }
  }

  &__more {
    position: relative;
    display: block;
    margin-top: auto;
    margin-left: auto;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 600;
    color: $color-key-d;
    letter-spacing: .06em;

    @media #{$mq-sm} {
      margin: 20px auto 0;
      padding: 0;
      width: 100%;
      height: 48px;
      line-height: 48px;
      vertical-align: middle;
      font-size: 16px;
      background-color: $color-key-d;
      color: #fff;
      text-align: center;
      text-decoration: none;
      transition: all .2s;

      &:link,
      &:focus,
      &:visited {
        color: #fff;
        background-color: $color-key-d;
        text-decoration: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      bottom: 0;
      right: 3px;
      width: 8px;
      height: 8px;
      border-top: 1px solid $color-key-d;
      border-right: 1px solid $color-key-d;
      transform: translateY(-50%) rotate(45deg);

      @media #{$mq-sm} {
        right: 20px;
        border-top-color: #fff;
        border-right-color: #fff;
      }
    }
  }
}

.entry {
  background: url(../images/bg_entry.jpg) center center/cover no-repeat;
  color: #fff;
  margin-bottom: -48px;

  @media #{$mq-sm} {
  }

  &__inner {

    @media #{$mq-sm} {
      padding: 0 30px;
    }

    @media #{$mq-xxs} {
      padding: 0 15px;
    }
  }

  &__headline {
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      text-align: left;
      font-size: 20px;
    }

    .en {
      font-size: 1.1em;
    }
  }

  &__desc {
    font-size: 16px;
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      margin-top: 12px;
      font-size: 14px;
    }
  }

  &__note {
    margin-top: .25em;
    font-size: 13px;
    color: #fff;

    @media #{$mq-sm} {
      width: auto;
      text-align: left;
    }

    .en {
      font-size: 1.1em;
      letter-spacing: 0;
    }
  }

  &__contents {

  }

  .button {
    display: inline-block;
    margin: 10px 0;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    min-width: 240px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;

    @media #{$mq-sm} {
      margin-top: 5px;
      margin-left: -15px;
      width: 100%;
      width: calc(100% + 15px);
      min-width: 0;
      padding: 0;
    }

    &.is-second {
      background: #fff;
      color: $color-base;
      font-size: 14px;

      @media #{$mq-sm} {
        font-size: 12px;
      }

      &::before {
        content: none;
      }
    }
  }
}

.entry-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__item {
    margin-top: 35px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.entry-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  font-size: 16px;

  @media #{$mq-sm} {
    font-size: 14px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    border-radius: 17px;
    font-size: 14px;
    background: #fff;
    color: $color-base;

    @media #{$mq-sm} {
      height: auto;
      line-height: 1.5;
    }

    @media #{$mq-xxs} {
      padding: 0 15px;
      font-size: 13px;
    }
  }

  &__list {
    margin-top: .75em;

    @media #{$mq-sm} {
      // font-size: 12px;
    }
  }

  &__body {
    margin-top: .75em;

    @media #{$mq-sm} {
    }
  }
}

.entry-list {

  @media #{$mq-sm} {
  }

  &.is-ordered {

    li {
      list-style: decimal;
    }
  }

  li {
    list-style: disc;
  }

  &__item {
    margin-left: 1em;

    @media #{$mq-sm} {
    }

    &:not(:first-child) {
      margin-top: .25em;

      @media #{$mq-sm} {
        margin-top: .5em;
      }
    }

    .notice {
      display: block;
      margin-top: .5em;
      font-size: 13px;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//
// インタビューページ
//
.interview-article {

  &__header {

    @media #{$mq-sm} {

    }
  }

  &__contents {

    @media #{$mq-sm} {

    }
  }
}

.article-header {
  padding: 60px 0;
  text-align: center;
  background: url(../images/bg_interview.jpg) 50% 50%/cover no-repeat;
  color: #fff;

  @media #{$mq-sm} {
    padding: 24px 30px;
  }

  &__title {
    font-size: 18px;
    color: #fff;
    text-align: center;
    letter-spacing: .06em;

    @media #{$mq-sm} {
      font-size: 14px;
    }
  }

  &__name {
    margin-top: 12px;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: .12em;
    text-align: center;

    @media #{$mq-sm} {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__desc {
    margin-top: 36px;
    line-height: 2;
    font-size: 16px;

    @media #{$mq-sm} {
      margin-top: 20px;
      line-height: 1.5;
      text-align: left;
      font-size: 13px;
    }
  }
}

.article-contents {

  &__section {

    @media #{$mq-sm} {

    }

    &:nth-child(odd) {
      background: $color-bg-alt;
    }

    &:nth-child(even) {
      background: #fff;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.article-section {
  padding: 50px;

  @media #{$mq-sm} {
    padding: 24px 15px;
  }

  &__desc {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    line-height: 2;
    font-size: 16px;
    letter-spacing: .06em;

    @media #{$mq-sm} {
      font-size: 13px;
    }
  }

  &__headline {
    margin-top: -.25em;
    padding-bottom: 1.125em;
    color: $color-key-d;
    letter-spacing: .06em;

    @media #{$mq-sm} {
      text-align: left;
    }
  }

  &__contents {
    display: flex;
    width: 100%;

    @media #{$mq-sm} {
      flex-direction: column;
    }

    &.is-reverse {

      flex-direction: row-reverse;

      @media #{$mq-sm} {
        flex-direction: column;
      }
    }

    .article-photo {
      margin: 0 20px;
      width: 478px;

      @media #{$mq-sm} {
        margin: -24px -30px 25px;
        width: auto;
      }

      + .article-body {
        margin: 0 20px;
        width: 478px;

        @media #{$mq-sm} {
          margin: 0;
          width: 100%;
        }
      }

      img {
        display: block;
        width: 100%;
      }
    }

    .article-body {
      margin: 0 auto;
      width: 100%;
      max-width: 800px;

      @media #{$mq-sm} {

      }

      .article-headline {
        margin-top: 1em;
        padding-bottom: .675em;
        width: 100%;
        color: $color-key-d;
        letter-spacing: .06em;

        @media #{$mq-sm} {
          margin-top: 0;
          text-align: left;
        }
      }

      p {
        line-height: 2;
        font-size: 14px;
        letter-spacing: .06em;
        text-align: justify;
        text-justify: inter-ideograph;

        @media #{$mq-sm} {
          font-size: 13px;
        }

        + p {
          margin-top: 1em;
        }
      }
    }
  }
}

.article-entry {
  margin-top: 20px;
}
